<ng-template #cardTpl let-card="card">
  <app-flashcard-card
    [meta]="card.meta || {}"
    [frenchPrimary]="card.frenchPrimary"
    [frenchSecondary]="card.frenchSecondary || ''"
    [germanPrimary]="card.germanPrimary"
    [germanSecondary]="card.germanSecondary || ''"
    [frontLang]="card.frontLanguage || 'french'"
    [flipped]="false"
    [flipDirection]="'up'"
    [isTouchscreen]="isTouchScreen"
    [hovered]="false"
    [interactive]="true"
  />
</ng-template>

@if (oriented().length && current(); as c) {
  <app-practice-host-shell
    #shell
    [index]="index()"
    [length]="oriented().length"
    [showShuffle]="true"
    [showScrubber]="true"
    [animation]="'slide'"
    [scrubLabelForIndex]="scrubLabelForIndex"
    (goTo)="onGoTo($event)"
    (shuffle)="shuffleCards()"
  >
    <app-flashcard-card
      [meta]="c.meta || {}"
      [frenchPrimary]="c.frenchPrimary"
      [frenchSecondary]="c.frenchSecondary || ''"
      [germanPrimary]="c.germanPrimary"
      [germanSecondary]="c.germanSecondary || ''"
      [frontLang]="c.frontLanguage || 'french'"
      [flipDirection]="'up'"
      [isTouchscreen]="isTouchScreen"
      [hovered]="false"
      [interactive]="true"
    />
  </app-practice-host-shell>

} @else {
  <p>Keine Karten in dieser Auswahl.</p>
}
