<div
  class="whitespace-pre-wrap break-words text-lg leading-relaxed font-semibold mb-3"
  (pointermove)="onPointerMove($event)"
  (pointerleave)="onPointerLeave()"
  (click)="onClick($event)"
>
  @if (mergedSegments().length) {
    @for (seg of mergedSegments()!; track $index) {
      @if (seg.ref) {
        <span
          data-term
          class="inline-block cursor-pointer rounded-md px-0.5 my-1
          transition-colors duration-150
         bg-amber-100"
          [class.bg-amber-300]="activeRefKey() === refKey(seg.ref)"
          (mouseenter)="termEnter.emit({ ref: seg.ref!, el: $any($event.target) })"
          (mouseleave)="termLeave.emit()"
          (click)="termClick.emit({ ref: seg.ref!, el: $any($event.target)})"
        >
          {{ seg.text }}
        </span>

      } @else {
        <span class="inline">{{ seg.text }}</span>
      }
    }
  } @else {
    <span>{{ fallbackText() }}</span>
  }
</div>
