<div class="relative max-w-[400px] w-full h-full">
  <div
    #cardRef
    class="relative overflow-hidden will-change-transform h-full"
    (pointerenter)="hoverOn(); $event.preventDefault()"
    (pointermove)="$event.preventDefault()"
    (pointerleave)="hoverOff(); $event.preventDefault()"
    (click)="toggleOnClick(); $event.preventDefault()"
  >
    <app-flashcard-card
      [meta]="getMeta()"
      [frenchPrimary]="getFrenchPrimary()"
      [frenchSecondary]="getFrenchExampleSentence()"
      [germanPrimary]="getGermanPrimary()"
      [germanSecondary]="getGermanExampleSentence()"
      [frontLang]="getFrontLang()"
      [flipped]="isFlipped()"
      [flipDirection]="flipped().direction"
      [isTouchscreen]="isTouchScreen"
      [hovered]="isHovered()"
      [interactive]="true"
    />
  </div>
</div>
