@if (lastVm; as m) {
  <div data-tooltip class="absolute inset-0 z-20 pointer-events-none">
    <div
      class="absolute pointer-events-none"
      [style.left.px]="x()"
      [style.top.px]="y()"
      [style]="'transform: translate(' +
      (basisX() === 'left' ? '0' : basisX() === 'right' ? '-100' : '-50') +
      '%, calc(-100% - 10px));'"
    >
      <div
        #panel
        data-tooltip
        class="pointer-events-auto bg-white border border-neutral-200 rounded-2xl px-3 py-2 text-xs shadow-md"
      >
        <div class="flex flex-row items-baseline gap-x-1">
          @if (m.genus) {
            <span class="text-sm italic opacity-50">
              {{ getArticle(m.lang, m.genus, m.needsVowelArticle) }}
            </span>
          }
          <span class="text-sm font-semibold">{{ m.title }}</span>
        </div>

        @if (m.translations.length) {
          <div class="mt-2 flex flex-wrap gap-2">
            @for (translation of m.translations; track $index) {
              <span
                data-tooltip
                class="px-2 py-1 rounded-lg bg-neutral-200"
              >
                @if (translation.genus) {
                  <span class="italic opacity-50">
                    {{ getArticleFromTerm(reverseLanguage(m.lang), translation) }}
                  </span>
                }
                {{ translation?.display }}
              </span>
            }
          </div>
        }
      </div>
    </div>
  </div>
}
